---
component: topnav
---
<div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="./"><img src="assets/mmt-logo.svg" width="32" height="32"/></a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="left">
                <li class="has-dropdown">
                    <a href="#">JavaScript Style Guide</a>
                    <ul class="dropdown">
                        <li><a href="summary.html">The short version</a></li>
                        <li><a href="formatting.html">Source code formatting</a></li>
                        <li><a href="naming-conventions.html">Naming Conventions</a></li>
                        <li><a href="development-best-practices.html">JavaScript Best Practices</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>