<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>JS Style Guide - MMT Digital</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="highlight/styles/default.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="highlight/highlight.pack.js"></script>
</head>
<body class="antialiased hide-extras">
<div class="marketing off-canvas-wrap">
    <div class="inner-wrap">
        {{> topnav }}
        <section role="main">
            <div class="row">
                {{#title}}
                <div class="large-12 columns">
                    <h1>{{ title }}</h1>
                    <hr/>
                </div>
                {{/title}}
                <div class="large-12 columns">
                    {{#markdown}}
                    {{> body }}
                    {{/markdown}}
                </div>
            </div>
        </section>
        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="js/app.js"></script>
    </div>
</div>
</body>
</html>