<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>{{#if title}}
    <meta property="og:title" content="{{ title }}"/>{{/if}}{{#if image}}
    <meta property="og:image" content="{{ image }}"/>{{/if}}{{#if url}}
    <meta property="og:url" content="{{ url }}"/>{{/if}}{{#if description}}
    <meta property="og:description" content="{{ description }}"/>{{/if}}
    <meta property="og:site_name" content="MMT Digital's JavaScript Style Guide"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/app.css"/>
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<header>{{> topnav }}</header>
<main role="main">
    {{#if title}}
    <div class="row">
        <div class="large-12 columns">
            <h1>{{ title }}</h1>
            <hr/>
        </div>
    </div>
    {{/if}}
    {{#markdown}}
    {{> body }}
    {{/markdown}}
</main>
<footer class="zurb-footer">
    <div class="row">
        {{> footer }}
    </div>
</footer>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
<script src="highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="js/app.js"></script>
</body>
</html>